@import 'variables.less';

/*
 * PREFERENCES AND FIELDSET STUFF
 */
#preftoc {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	clear: both;

	li {
		display: inline;
		margin-right: 1em;

		&.selected a {
			color: @text;
			border-bottom: solid @border @blue;
		}
	}
}

#preferences {
	margin: 0;
	clear: both;
	min-height: 400px;

	.prefsection {
		border: 0;
		padding: 0;
		margin: 0;
		box-shadow: none;
	}

	.mainLegend {
		display: none;
	}

	.preferences-login {
		clear: both;
		margin-bottom: 1.5em;
	}

	.mw-email-not-authenticated .mw-input,
	.mw-email-none .mw-input {
		display: block;
		padding: 0.25em 0.5em;
	}

	input[ type='checkbox' ],
	input[ type='radio' ] {
		margin-left: 0;
	}
}

.mw-prefs-buttons {
	margin-top: 1em;
}

td.mw-input,
td.mw-label {
	vertical-align: middle;
}

fieldset {
	.box;
	line-height: 1.3em;
	margin: 1em 0;
	background: @background;

	legend {
		padding: 0.5em 1.25em;
		background: @background;
		font-weight: bold;
		color: @blue-dark;
	}
}

label {
	padding-left: 0.5em;
}

.mw-input label {
	padding: 0;
	margin-right: 1em;
}

.mw-label {
	padding-right: 0.5em;
}

.mw-submit {
	padding-top: 2em;
}

.htmlform-tip {
	font-size: 85%;
	color: @text;
	line-height: 1.2em;
	padding: 1em 0;
}

/*
 *
 * FORM STUFF
 *
 */

/* pile of bad hacks to try to catch all the different ones */
input[ name='target' ],
input[ name='user' ],
input[ name='mime' ],
input[ size$='0' ],
input[ type='text' ],
input[ type='checkbox' ],
input[ type='radio' ],
input#wpTemplateSandboxPage,
input.mw-summary,
input.mw-input,
.mw-input input,
textarea,
.mw-ui-input-inline,
.mw-ui-input,
#searchInput {
	box-sizing: border-box;
	padding: 0.25em 0.35em;
	border: solid 1px @grey;
	margin: 0.5em 0;
	box-shadow: inset 0 1px 1px 1px rgba( 0, 0, 0, 0.05 );
	font-size: 1em;
	min-height: 40px;
	font-family: @fonts;
}

select {
	padding: 0.25em;
	margin: 0.5em 0;
}

input[ type='checkbox' ],
input[ type='radio' ] {
	margin-left: 1em;
	min-height: 0;
}

input[ type='checkbox' ] {
	border-radius: 2px;
}

input[ type='radio' ] {
	border-radius: 8px;
}

.mw-ui-button.mw-ui-progressive,
.mw-ui-button.mw-ui-progressive:active,
.mw-ui-button.mw-ui-progressive.mw-ui-checked,
input[ type='submit' ],
input[ type='button' ],
button {
	padding: 0.25em 1em 0.1em 1em;
	border: solid 1px @grey;
	border-bottom-width: @border;
	box-sizing: border-box;
	border-radius: @radius;
	background: @background;
	color: @text;
	min-height: 30px;
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.05 );

	&:active {
		background-color: @grey-bright;
	}

	&:hover {
		background-color: @grey-bright;
	}
}

textarea {
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	line-height: 1.3em;
	font-family: @fonts-monospace;
}

textarea#wpTextbox1 {
	border-color: @grey;
}

div.editOptions {
	padding: 1.25em 1.75em;
	padding: 1em;
	border: solid @grey;
	border-width: 0 1px @border;
	background: @background2;

	.mw-summary label {
		padding-left: 0;
	}

	input#wpSummary {
		box-sizing: border-box;
		width: 100%;
	}

	label {
		margin-right: 1.5em;
	}

	// For Extension:TemplateSandbox and the like
	fieldset,
	legend {
		background: inherit;
		border: 0;
		box-shadow: none;
		padding: 0;
		margin-top: 2em;
	}
}

/* Extension:TemplateSandbox stuff */
.mw-templatesandbox-page label {
	padding: 0;
}

#wpTemplateSandboxPreview {
	margin-left: 0.5em;
}

/* Recent changes and watchlist options */
.rcoptions hr,
#mw-watchlist-options hr {
	clear: both;
}

.rcoptions #namespace,
#mw-watchlist-options .namespaceselector {
	margin-right: 2em;
}

/* Watchlist */
#mw-watchlist-options {
	label {
		padding: 0 1em 0 0;
	}

	input[ type='submit' ] {
		margin: 0 0 0 4em;
	}
}

/* Related changes hacks */
.mw-special-Recentchangeslinked {
	.rcoptions {
		input[ type='submit' ] {
			float: right;
			margin: 0 0 0 4em;
		}

		td.mw-label.mw-target-label {
			vertical-align: top;
			padding-top: 0.75em;
		}

		input[ name='target' ] {
			float: left;
		}
	}

	#showlinkedto {
		clear: left;
		float: left;
	}

	label[ for='showlinkedto' ] {
		padding: 0.4em;
		float: left;
	}
}
